<p id="notice"><%= notice %></p>

<h1>Rblackandwhites</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Link</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rblackandwhites.each do |rblackandwhite| %>
      <tr>
        <td><%= rblackandwhite.description %></td>
        <td><%= image_tag rblackandwhite.link %></td>
        <td><%= rblackandwhite.location %></td>
        <td><%= link_to 'Show', rblackandwhite %></td>
        <td><%= link_to 'Edit', edit_rblackandwhite_path(rblackandwhite) %></td>
        <td><%= link_to 'Destroy', rblackandwhite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rblackandwhite', new_rblackandwhite_path %>
