<p id="notice"><%= notice %></p>

<h1 class="titre">Musée d'expositions photographiques</h1>
<p class="pres">Ce musée met en avant mon travail photographique à travers différentes expositions ayant différents thèmes</p>
<h2 class="soustitre">Exposition Noir et Blanc</h2>

<table class="tableau">
  <thead class="head_netb">
    <tr>
      <!--
      <th>Photo</th>
      <th>Description</th>
      <th>Lieu de capture</th>
      <th colspan="3"></th>
    -->
    </tr>
  </thead>
  <br>
  <tbody class="collapse">
    <% @rblackandwhites.each do |rblackandwhite| %>
      <tr class="collapse">
        <td class="borders"><%= image_tag rblackandwhite.link, class: 'image' %></td>
        <td class="borders"><%= rblackandwhite.description %></td>
        <td class="borders"><%= rblackandwhite.location %></td>
        <!--
        <td><%= link_to 'Show', rblackandwhite %></td>
        <td><%= link_to 'Edit', edit_rblackandwhite_path(rblackandwhite) %></td>
        <td><%= link_to 'Destroy', rblackandwhite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
<%= link_to 'New Rblackandwhite', new_rblackandwhite_path %>
-->