<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @rblackandwhite.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= image_tag @rblackandwhite.link %>
</p>

<p>
  <strong>Location:</strong>
  <%= @rblackandwhite.location %>
</p>

<%= link_to 'Edit', edit_rblackandwhite_path(@rblackandwhite) %> |
<%= link_to 'Back', rblackandwhites_path %>
