<!DOCTYPE html>
<html>
  <head>
    <title>MyMuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul class="navul">
    <li class="navli"><a href="/pictures" class="nava">Accueil</a></li>
    <li class="navli"><a href="/rblackandwhites" class="nava">Noir et Blanc</a></li>
    <li class="navli"><a href="/rarchitectures" class="nava">Architecture</a></li>
  </ul>
  <!-- dispo sur toutes les pages -->
  <body>
    <%= yield %>
    <footer>
      <p class ="copy">©Baptiste pour les boutons</p>
    </footer>
  </body>
</html>
